%p#notice= notice

%h1 Trip Details

%br 

%table#trip_show_table      
  %tbody
    %tr
      %th= 'River'
      %td= RiversController.get_name(@trip.river_id)
    %tr
      %th= 'Trip Leader'
      %td= @trip.leader
    %tr
      %th= 'Link To Trip Report'
      %td= @trip.report_link
    %tr
      %th= 'Date'
      %td= @trip.start_date.strftime("%A, %B %d, %Y")
    %tr
      %th= 'Trip Report Summary'
      %td= @trip.summary
    %tr  
      %th= 'Pictures (will display actual pics later)'
      %td= @trip.pictures
      
%br
%br

=link_to 'Back', river_trips_path(@trip.river_id)
\|
=link_to 'Edit', edit_river_trip_path(@trip.river_id, @trip.id)
\|
= link_to 'Destroy', river_trip_path(@trip.river_id, @trip.id), :method => :delete, :data => { :confirm => 'Are you sure?' }