/ MH 3/24/13 - Detail view for a specific trip, showing river name to which it belongs, and some select info
/ -- it is not necessary to show all details, only the important attributes for the trip 
/ Picture viewing function yet unimplemented as picture upload function has yet to be coded 

%p#notice= notice

%h1 Trip Details

%br 

%table#trip_show_table      
  %tbody
    %tr
      %th= 'River'
      %td= RiversController.get_name(@trip.river_id)
    %tr
      %th= 'Trip Leader'
      %td= @trip.leader
    %tr
      %th= 'Link To Trip Report'
      %td= @trip.report_link
    %tr
      %th= 'Date'
      %td= @trip.start_date.strftime("%A, %B %d, %Y")
    %tr
      %th= 'Trip Report Summary'
      %td= @trip.summary
    %tr  
      %th= 'Pictures (will display actual pics later)'
      %td
        -for attachment in @trip.attachments
          %img{:src => attachment.file_url}
          / MH 4/24/13 - Displays each attachment(picture) in the attachments field of trip (CarrierWave)
%br
%br


=link_to 'Back', river_trips_path(@trip.river_id)
\|
=link_to 'Edit', edit_river_trip_path(@trip.river_id, @trip.id)
\|
= link_to 'Destroy', river_trip_path(@trip.river_id, @trip.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
