
/ MH 5/1/13 Default display template for detail view of Trip that displays all of its attributes -- used in CRUD views
= nested_form_for [@river], :html=>{:multipart => true } do |f| 

  = f.label :name 
  = f.text_field :name 

  = f.label :length 
  = f.text_field :length 

  = f.label :difficulty 
  = f.select :difficulty, ['Beginner', 'Intermediate', 'Advanced', 'EXTREME']

  = f.label :ideal_flow 
  = f.text_field :ideal_flow

  = f.label :hazards 
  = f.text_field :hazards

  = f.label :highlights 
  = f.text_field :highlights

  = f.label :nearest_town 
  = f.text_field :nearest_town

  = f.label :description 
  = f.text_area :description, :size => "24x6" 

  = f.label :link 
  = f.text_field :link   

  = f.label :environmental_ed 
  = f.text_area :environmental_ed, :size => "24x6" 

  = f.label :on_river_special_concerns 
  = f.text_area :on_river_special_concerns, :size => "24x6" 

  = f.label :shuttle_directions 
  = f.text_area :shuttle_directions, :size => "24x6" 

  = f.label :camping_locations 
  = f.text_area :camping_locations, :size => "24x6" 

  = f.label :local_contacts 
  = f.text_area :local_contacts, :size => "24x6" 

  = f.label :emergency_plan 
  = f.text_area :emergency_plan, :size => "24x6" 

  = f.label :nearest_store 
  = f.text_area :nearest_store, :size => "24x6" 

  / MH 5/1/13 Displays File upload menu for CarrierWave
  %br
  = f.fields_for :attachments do |attachment_form|  
    = image_tag(attachment_form.object.file.url, :width => '300px') if attachment_form.object.file?
    = attachment_form.label :file 
    = attachment_form.file_field :file 
    = attachment_form.link_to_remove "Remove this attachment" 
  <br>
  = f.link_to_add "Add attachment", :attachments 
  %br
  %br
  %br
  = f.submit 


/ / Will change later to upload widget
/ = label :river, :map, 'Map (File Path)'
/ = text_area :river, :map, :size => "24x6"

/ Distance from Home: 
/ Where will user enter location? This is tricky because this will differ for everyone who views the river info, and depends on trip. Should this go into the Trip model & DB instead? Probably. 
/ = label :river, :distance, 'Distance From Home'
/ = text_field :river, :distance

/ PaperClip Gem Code below
/ = label :trip, :picture, 'Upload A Picture'
/ = file_field :trip, :picture

/ Also UPLOAD MAP PDF through PaperClip

/ id: trip_id, name: trip[id] -- how the above form :attributes will be expanded out in code 

