= label :river, :name, 'River Name'
= text_field :river, :name

= label :river, :length, 'Length'
= text_field :river, :length

= label :river, :difficulty, 'Difficulty (at ideal flow)'
= select :river, :difficulty, ['Beginner', 'Intermediate', 'Advanced', 'EXTREME']

= label :river, :ideal_flow, 'Ideal Flow'
= text_field :river, :ideal_flow

= label :river, :hazards, 'Hazards'
= text_field :river, :hazards

= label :river, :highlights, 'Highlights'
= text_field :river, :highlights

= label :river, :nearest_town, 'Nearest Town'
= text_field :river, :nearest_town

= label :river, :description, 'River Description'
= text_area :river, :description, :size => "24x6"

= label :river, :link, 'Link To CalCreeks'
= text_field :river, :link

= label :river, :environmental_ed, 'Environmental Ed Notes'
= text_area :river, :environmental_ed, :size => "24x6"

= label :river, :on_river_special_concerns, 'On-River Special Concerns'
= text_area :river, :on_river_special_concerns, :size => "24x6"

= label :river, :shuttle_directions, 'Shuttle Directions From Landmark/Freeway Exit'
= text_area :river, :shuttle_directions, :size => "24x6"

= label :river, :camping_locations, 'Camping Locations'
= text_area :river, :camping_locations, :size => "24x6"

= label :river, :local_contacts, 'Local Contacts'
= text_area :river, :local_contacts, :size => "24x6"

= label :river, :emergency_plan, 'Emergency Management Plan'
= text_area :river, :emergency_plan, :size => "24x6"

= label :river, :nearest_store, 'Nearest Grocery Store'
= text_area :river, :nearest_store, :size => "24x6"

/ Will change later to upload widget
= label :river, :map, 'Map (File Path)'
= text_area :river, :map, :size => "24x6"

/ Distance from Home: 
/ Where will user enter location? This is tricky because this will differ for everyone who views the river info, and depends on trip. Should this go into the Trip model & DB instead? Probably. 
/ = label :river, :distance, 'Distance From Home'
/ = text_field :river, :distance

/ PaperClip Gem Code below
/ = label :trip, :picture, 'Upload A Picture'
/ = file_field :trip, :picture

/ Also UPLOAD MAP PDF through PaperClip

/ id: trip_id, name: trip[id] -- how the above form :attributes will be expanded out in code 

