%h1 Listing rivers
%table#rivers_index_table
  %thead
  %tbody
    - @rivers.each do |river|
      %tr
        %td= river.name
        %td= link_to 'Show', river
        %td= link_to 'Edit', edit_river_path(river)
        %td= link_to 'Destroy', river, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New River', new_river_path
