/ MH 3/24/13 Details view of a specific river (doesn't show all of fields as not all of them are necessary to view)

%p#notice= notice

%h1 River Details

%br 

%table#rivers_show_table  
      
  %tbody
    %tr
      %th= 'River Name'
      %td= @river.name
    %tr
      %th= 'Length'
      %td= @river.length
    %tr
      %th= 'Difficulty'
      %td= @river.difficulty
    %tr
      %th= 'River Description'
      %td= @river.description
    %tr
      %th= 'Highlights'
      %td= @river.highlights
    %tr  
      %th= 'Pictures'
      %td
        -for attachment in @river.attachments
          %img{:src => attachment.file_url,:width => '300px'}
          / MH 5/1/13 - Displays each attachment(picture) in the attachments field of trip (CarrierWave)
%br
%br

= link_to 'Edit', edit_river_path(@river.id) 
\|
= link_to 'Destroy', river_path(@river.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', rivers_path
